POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_URL=

API_ACCESS_TOKEN_REDIS=

REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

NEO4J_USER=
NEO4J_PASSWORD=
NEO4J_URI=

JWT_TOKEN_SECRET=
JWT_TOKEN_EXPIRATION=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

SMTP_MAIL=
AWS_REGION=

MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_USER_ID=
MP_USER_LOGIN=
MP_PASSWORD=

BACKEND_URL=
FRONTEND_URL=